
version: "3.9"

services:
  api:
    build:
      context: ./node_api
      target: prod
    container_name: servico_api_node_prod
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: db_prod
    env_file: .env
    environment:
      POSTGRES_USER: ${BD_USER}
      POSTGRES_PASSWORD: ${BD_SENHA}
      POSTGRES_DB: ${BD_NOME}
    ports:
      - "5439:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
