version: '3.9'


services:
    api:
      build:
        context: ./node_api #Onde está nossa aplicação 
        target: base 
      container_name: servico_api_node_base 
      ports: 
        - "3000:3000"
      volumes:
      - ./node_api:/app
      depends_on:
        - db

    db:
      image: postgres:15
      env_file:
          - .env 
      environment:
        POSTGRES_USER: ${BD_USER} 
        POSTGRES_PASSWORD: ${BD_SENHA}
        POSTGRES_DB: ${BD_NOME}
      ports:  
        - "5438:5432"
      volumes:
        - pgdata:/var/lib/postgresql/data

volumes:
    pgdata: 
